/* ===========================
    TableViewer table settings   width:                  100%;
============================== */
    .TableViewer {
        border:                 none;    
        width:                  100%;
        empty-cells:            show;
    }

    .TableViewer thead th {         
        border:                 none;
/*      -webkit-box-shadow:     inset 0 -2px 0 rgba(0,0,0,.12);*/
        background-color:       #f5f7f9; 
        /*background-image:       -webkit-linear-gradient(90deg, rgba(0,0,0,.03) 39.99%,
                                    rgba(0,0,0,.05) 60.01%, rgba(0,0,0,.09) 100%);*/
        color:                  #5c6573;
    
        overflow:               hidden;
        border-style:           solid;
        border-width:           0;
        padding:                .5em .6em .4em .6em;
        font-weight:            normal;
        white-space:            nowrap;
        text-overflow:          ellipsis;    
    }
        
    .TableViewer {
        /* font-size:              13px;          font-family:          'Arial', sans-serif;                */
        overflow:               hidden;
        border-spacing:         0;
        padding:                0;
      
        z-index:                1;
        table-layout:           fixed; 
/*        background: url(
            data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAIAAAD9HKYrAAAAG0lEQVQImWN4/vIlEwMDA8P///+ZGBgYBisGALaXBgcjLRwjAAAAAElFTkSuQmCC
        ) repeat; */
    }
    
    .TableViewer thead th, 
    .TableViewer tfoot th {
        border:                 none;
        color:                  #5c6573;
        overflow:               hidden;
        font-weight:            normal;
        text-align:             left;
        border-bottom:          1px solid #cccccc;
    }
    
    .TableViewer tbody {
        overflow:               hidden;
    }
    
    .TableViewer tbody td {
        -moz-hyphens:           auto;
        hyphens:                auto;
        white-space:            normal;
        border-bottom:          2px solid #e7e9e9;
/*      background:             url(../../icons/td-bg20x20.gif);    
        background:             url(resources/icons/td-bg40x20.gif);*/
/*        background-repeat:      repeat-x;*/
        /*  -webkit-linear-gradient(90deg, #fff 0%, #fff 60.01%, #edeff1 100%);
            -webkit-box-shadow:     0 2px 0 #fff, inset 0 -2px 0 #e7e9e9;*/
        height:                 38px;
        line-height:            1.6em;
        color:                  #5c6573;
        -moz-user-select:       -moz-none;
        -khtml-user-select:     none;
        -webkit-user-select:    none;
        -o-user-select:         none;
        user-select:            none;
        -ms-text-overflow:      ellipsis;
        text-overflow:          ellipsis;   
        vertical-align:         middle;
        padding:                0 10px 2px 0;   
        
    }

    /*Give us some space, and mark first item*/
    .TableViewer tbody tr td:first-child, 
    .TableViewer thead tr th:first-child,
    .TableViewer tfoot tr th:first-child  {
        padding-left:           15px;       
        width:                  auto;
    }
    
    .TableViewer tbody tr th:first-child {
        text-transform:         uppercase;
        font-weight:            bold;

    }
    
    .TableViewer tbody tr:nth-child(even) td {
        background-color:       #edeff1;
    }
    
    /* Sortable header  ## not in use */
/*  .TableViewer thead th span {
        
        padding:                .5em .6em .4em .6em;
        line-height:            24px;
        vertical-align:         middle;
        cursor:                 pointer;        
        font-weight:            normal;        
        text-align:             left;        
        border:                 0px solid blue;     
        background-position:    right center; 
        background-repeat:      no-repeat;
        white-space:            nowrap;     deal with overflow textresizing
        overflow:               hidden;
        -ms-text-overflow:      ellipsis;
        text-overflow:          ellipsis;
        height:                 100%;
        min-height:             12px;        IE fix; dependant th height 
        display:                block;
    }
        
    .TableViewer thead th span:hover {
        background-image:       url(../img/icon_sort_up.png);
        cursor:                 pointer;
    }
    
    .TableViewer thead th .sortUp {
        background-image:       url(../../icons/icon_sort_up.png);
    }
    
    .TableViewer thead th .sortDown {
        background-image:       url(../../icons/icon_sort_down.png);
    }
    */
    .TableViewer thead .header th a:visited {
        color:                  #2e2e2e;
    }

    .TableViewer thead th,
    .TableViewer tfoot th {
        height:                 38px;
    }

    body {
            margin:                 0;
            padding:                0;
            overflow:               hidden;
            font-size:              13px;
            font-family:            "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;
        }
        #load {
            background-color:       rgba(218,222,225,0.4);
            height:                 100px;
        }
        #tableHead {
            background-color:       #ccc;            
        }
        #tableBody {
            position:               absolute;
            top:                    46px;
            left:                   0px;
            bottom:                 5px;
            right:                  0px;
            padding-left:           0;
            border:                 0px dotted rgb(191,223,255);
/*        background:               url(resources/icons/td-bg40x20.gif);*/
        }
        #tableFooter {
            position:               absolute;
            height:                 5px;
            left:                   0px;
            bottom:                 0px;
            right:                  0px;
        }
        section.gridDetail2 {
            position:               relative;
        }
        /* ===========================
            Custom scroller sample (webkit only)    
        ============================== */

        .advsScroll {       
            overflow-y:             auto; 
            overflow-x:             auto;
            -webkit-overflow-scrolling: touch;
            /*Accelerated compositing
                -webkit-transform:      translate3d(0,0,0);
            */
        } 
        .advsScroll::-webkit-scrollbar {
            width:                  12px;
            height:                 12px;    
            -web-kit-appearance:    slider-vertical;  
        }
        /* Track */ 
 
        /* Handle */
         .advsScroll::-webkit-scrollbar-thumb {
            -webkit-border-radius:  10px;
            border-radius:          10px;
            background:             rgba(218,222,225,0.8); 
            -webkit-box-shadow:     inset 0 0 6px rgba(0,0,0,0.5); 
        }
        /* it only depends on the table's width, the width of the columns, and borders or cell spacing. */
        .advsScroll::-webkit-scrollbar-thumb:window-inactive {
            background:             rgba(218,222,225,0.4); 
        }

        .advsScroll::-webkit-scrollbar-track {
            -webkit-box-shadow:     inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-border-radius:  10px;
            border-radius:          10px;
        }

         #virtualScrollY {
            width:                  1px;
            height:                 1000px;
            visibility:             hidden;
            float:                  left;        
        }
        #virtualBufferY {
            visibility:             hidden;
            height:                 0;
        }
    
        #mainTable {
            table-layout: fixed;
            position:               absolute;
        }


        /*Set columwidth on CSS*/
        .TableViewer thead th, 
        .TableViewer tfoot th {
            height:                 35px;
        }
        
        .TableViewer tbody td, 
        .TableViewer thead th {
            width:                  150px;
        }
        
        .TableViewer tbody td:nth-child(4), 
        .TableViewer thead th:nth-child(4) {
            width:                  300px;
        }
        .TableViewer tbody td:first-child , 
        .TableViewer thead th:first-child {
            width:                  auto;
        }