<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <a href="{{ site.default_author_url }}"><img src="{{ site.baseurl }}/img/{{ site.default_avatar }}.jpg" class="user-icon " alt="user-image"></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="category-list">
                <p>Published <span>{{ page.date | date: "%b %-d, %Y" }}</span></p>
                <p><a href="{{ site.default_author_url }}">{{ site.default_author_name }}</a> in <a href='{{ "/category/" | append: page.categories.first | prepend: site.baseurl }}'>{{ page.categories.first | split: '-' | join: '' }}</a></p>

                {% if page.catagories.size > 1 %}
                <div class="other-catergories">
                    <h3>Also found in</h3>

                    <ul>
                        {% for category in page.categories %}
                        <li>
                            <a href='{{ "/category/" | append: category | prepend: site.baseurl }}'>{{ category | split: '-' | join: ' ' }}</a>
                            {% unless forloop.last %},{% endunless %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div><!-- end col -->
        <div class="col-xs-12 col-sm-4">
            <div class="social">
                <p>Share this article</a>
                <div class="social-links">
                    <a class="social-icon" href="#" data-platform="twitter" data-message="{% if page.social-message %}{{ page.social-message }}{% else %}{{ page.title }}{% endif %}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-twitter"></i></a>

                    <a class="social-icon" href="#" data-platform="facebook" data-message="{% if page.social-message %}{{ page.social-message }}{% else %}{{ page.title }}{% endif %}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-facebook-official"></i></a>
                    <a class="social-icon" data-platform="mail" target="_blank" href="mailto:{{ site.email }}?body={{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="fa fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</div>