---
layout: with-sidebar
---

<div class="author-bio">

    <img src='{{ "/img/" | append : page.author_avatar | prepend: site.baseurl }}.jpg'>

    <div class="author-bio__info">
        {{ content }}
    </div>
</div>

<h2 class="favorites">Most recommended posts</h2>

<div class="posts-block animated fadeIn ">

    {% for post in site.posts %}
    {% if post.is_featured == true %}
    <article class="post author-page">
        <div class="post-preview col-xs-10  no-gutter">
            <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

            <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.excerpt | truncatewords: 28 }}</a></p>
        </div>
    </article>
    {% endif %}
    {% endfor %}

    <div class="view-all-by-author">
        <a href="/">View All Posts by {{ page.author_name }} <i class="fa fa-chevron-right"></i></a>
    </div>
</div>

